<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>WWM</title>
  <meta content="WWM의 마이페이지" name="description">
  <meta content="WWM, 마이페이지" name="keywords">

  <!-- Favicons -->
  <link href="/images/메인 아이콘.jpg" rel="icon">
  <link href="/images/메인 아이콘.jpg">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="\stylesheets/aos.css" rel="stylesheet">
  <link href="\stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="\stylesheets/bootstrap-icons.css" rel="stylesheet">
  <link href="\stylesheets/boxicons.min.css" rel="stylesheet">
  <link href="\stylesheets/glightbox.min.css" rel="stylesheet">
  <link href="\stylesheets/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <!-- <link href="\stylesheets/inner.css" rel="stylesheet"> -->
  <link href="\stylesheets/inner.css" rel="stylesheet"  />
  

  <!-- =======================================================
  * Template Name: Bocor
  * Template URL: https://bootstrapmade.com/bocor-bootstrap-template-nice-animation/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="http://localhost:3000">WWM<span>.</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar" >
        <ul>
          <li><a class="nav-link scrollto active" href="http://localhost:3000" >Home</a></li>
          <!-- <li><a class="nav-link scrollto" href="#features">Services</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Shop</a></li> -->
          <li><a class="nav-link scrollto" href="#faq">About Us</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          
          <li><a class="getstarted scrollto" href="http://localhost:3000/users/login">로그인</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row d-flex align-items-center">
      <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="fade-right">
        <h1>Walk With Me </h1>
        <h2>가벼운 산책으로 재밌게 운동을 하고 싶은 사람들에게 삶에서 소소한 행복을 찾을 수 있는 워크윗미</h2>
        <a href="http://localhost:3000/users/login" class="btn-get-started scrollto">로그인</a>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 산책2.jpg" data-aos="fade-left">
        <img src="images\산책2.jpg" class="img-fluid" alt="">
      </div>
    </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">FAQ</h2>
          <p data-aos="fade-in">산책 헬스케어 워크윗미를 이용하면서 궁금했던 점과 자주 묻는 질문에 대한 대답을 나열한 것이다.</p>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
          <div class="col-lg-5">
            <i class="bx bx-help-circle"></i>
            <h4>워크윗미란 무엇인가요?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              최근 스마트폰과 컴퓨터 사용시간 증가, 신체 활동 시간 감소로 척추측만증, 거북목 증후군 등의 비정상적인 체형변화가 늘어나고 있어 바른 자세와 바르게 걷기의 중요성이 주목받고 있습니다. 즐겁고 일상적인 운동 문화운동을 통한 스트레스 해소로 국민 건강 증진에 힘을 쓰고 싶어 제작된 작품이다.

            </p>
          </div>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-5">
            <i class="bx bx-help-circle"></i>
            <h4>사람들 혹은 기타 대상에게 주는 이점은 무엇인가요?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              건강 문제로 고민이 많은 현대인들, 격한 운동보다는 가벼운 산책으로 재밌게 운동을 하고 싶은 사람들에게 삶에서 소소한 행복을 찾을 수 있다.
            </p>
          </div>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-5">
            <i class="bx bx-help-circle"></i>
            <h4>위크윗미 만의 특징은?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              워크윗미 만의 특징으로는 개인맞춤 서비스가 있다. 예를 들면, 로그인을 통해 개인 운동 진행 상황이나 맞춤 산책 코스 추천 등 사용자에게 맞는 산책 서비스를 제공한다. 그 이외에도 특정 위치 지점에 도착하면 포인트를 증정하는 게임을 통해 지루하지 않는 산책 어플 서비스를 개발할 예정이다.
            </p>
          </div>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-5">
            <i class="bx bx-help-circle"></i>
            <h4>랜덤 미션으로 획득한 리워드는 어떻게 사용할 수 있나요?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              해당 Shop 페이지에서 리워드 포인트에 맞게 원하는 기프티콘, 상품 등을 구매할 수 있다.
            </p>
          </div>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="col-lg-5">
            <i class="bx bx-help-circle"></i>
            <h4>커뮤니티 이용방법은 어떻게 되나요?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              커뮤니티 페이지에서 사진이나 글을 올리는 활동을 통해 주기적으로 올린 이용자에게 리워드가 제공될 뿐만 아니라 다른 사람들에게 공개적으로 본인만의 산책 경로를 추천하고 실시간으로 소통, 공유할 수 있다.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <section id="team" class="team section-bg">
      <div class="container">
    
        <div class="section-title">
          <h2 data-aos="fade-in">Team</h2>
          <p data-aos="fade-in"> <a>덕성여자대학교 사이버보안 전공 졸업프로젝트 WWM팀<br> </a> Walk With Me 를 함께 만들어간 팀원들 정보</p>
        </div>
    
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up">
              <div class="pic"><img src="images\김소현_프로필__.png" alt=""></div>
              <h4>김소현</h4>
              <span>사이버보안 전공</span>
              <span>20211243</span>
              <span>프론트엔드</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
    
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="pic"><img src="images\박송희_프로필.png" alt=""></div>
              <h4>박송희</h4>
              <span>사이버보안 전공</span>
              <span>20200745</span>
              <span>백엔드</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
    
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="pic"><img src="images\이보미_프로필.png" alt=""></div>
              <h4>이보미</h4>
              <span>수학 전공</span>
              <span>20201223</span>
              <span>프론트엔드</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
    
      </div>
    </section><!-- End Team Section -->
    
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>연락처</h2>
          <p>DUKSUNG WOMEN'S UNIVERSITY CYBER SECURITY</p>
        </div>

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box" data-aos="fade-up">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>[01369] 서울특별시 도봉구 삼양로 144길 33 덕성여자대학교 차미리사관 229호</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>sohyeon53qq@gmail.com<br>psh10922@duksung.ac.kr<br>lcil2293@naver.com <br>shsm1083@naver.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>02-901-8677</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form w-100" data-aos="fade-up">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>WWM</h3>
            <p>Walk With Me!!</p>
          </div>
        </div>

        

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>WWM</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bocor-bootstrap-template-nice-animation/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="javascripts/aos.js"></script>
  <script src="javascripts/bootstrap.bundle.min.js"></script>
  <script src="javascripts/glightbox.min.js"></script>
  <script src="javascripts/isotope.pkgd.min.js"></script>
  <script src="javascripts/swiper-bundle.min.js"></script>
  <script src="javascripts/validate.js"></script>
  

  <!-- Template Main JS File -->
  <script src="javascripts\main.js"></script>

</body>

</html>
