<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>WWM</title>
  <meta content="WWM의 마이페이지" name="description">
  <meta content="WWM, 마이페이지" name="keywords">

  <!-- Favicons -->
  <link href="/images/메인 아이콘.jpg" rel="icon">
  <link href="/images/메인 아이콘.jpg">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/stylesheets/aos.css" rel="stylesheet">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/bootstrap-icons.css" rel="stylesheet">
  <link href="/stylesheets/boxicons.min.css" rel="stylesheet">
  <link href="/stylesheets/glightbox.min.css" rel="stylesheet">
  <link href="/stylesheets/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/stylesheets\inner.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Bocor
  * Template URL: https://bootstrapmade.com/bocor-bootstrap-template-nice-animation/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>



<body>
<style>

  .title {
    text-align: center;
    margin-bottom: 0px;
    height: 50px;
  }
  .col-md-7 {
    margin: auto;
  }
</style>
  
  
  <main id="main">

    <section id="features" class="features section-bg">
      <div class="userInfo">
        <div class="title">
          <h2 data-aos="fade-in">사용자 정보 입력</h2>
          <p data-aos="fade-in">해당 사용자 정보를 입력하면, 이를 바탕으로 적절한 산책로를 추천해줍니다. <br> 안내에 따라 사용자의 기본적인 건강 정보를 입력하여 제출해주세요.</br> </p>
        </div>
  
        <!-- <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="/images/features-1.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4" data-aos="fade-left">
            <h3>사용자의 기본 정보</h3>
            <ul>
              <li><label for="name">이름 : </label><input id="name" type="text"></li>
              <li><label for="id">아이디 : </label><input id="id" type="text"></li>
              <li><label for="pw">비밀번호 : </label><input id="pw" type="password"></li>
              <li><label for="nick">닉네임 : </label><input id="nick" type="text"></li>
              <li><button onclick="submitUserInfo()">정보 제출하기</button></li>
            </ul>
          </div>
        </div> -->
  
        <div class="row info1">
          <!-- <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="/images/features-2.svg" class="img-fluid" alt="">
          </div> -->
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <form action="/users/preferences" method="post">
            <!-- <h3>사용자의 기본 정보</h3> -->
            <ul>
              <li><i class="bi bi-check"></i><label for="nick" >이름 : </label><input id="nick" type="text" name="uname"></li>
              <li><i class="bi bi-check"></i>나이
                <select name="age" id="age">
                  <option value="19세이하">19세 이하</option>
                  <option value="20대~30대">20대~30대</option>
                  <option value="40대~50대">40대~50대</option>
                  <option value="60대이상">60대 이상</option>
                </select>
              </li>
              <li><i class="bi bi-check"></i> 거주 지역
                <select name="city" id="city">
                  <optgroup label="지역 선택">
                    <option value="서울">서울</option>
                    <option value="인천/경기">인천/경기</option>
                    <option value="강원">강원</option>
                    <option value="대전/충남">대전/층남</option>
                    <option value="충북">충북</option>
                    <option value="광주/전남">광주/전남</option>
                    <option value="전북">전북</option>
                    <option value="부산/경남">부산/경남</option>
                    <option value="대구/경북">대구/경북</option>
                  </optgroup>
                  <!-- <optgroup label="경기도">
                    <option value="seongnam-si">성남시</option>
                    <option value="suwon-si">수원시</option>
                    <option value="yongin-si">용인시</option>
                    <option value="anyang-si">안양시</option>
                  </optgroup> -->
                </select>
              </li>
              <li><i class="bi bi-check"></i>건강 상태 확인(주로 이상이 있는 부위)
                <input type="text" name="healthCondition" id="healthCondition" list="browser">
                <datalist id="browser">
                  <option value="무릎">하체</option>
                  <option value="천식">호흡기</option>
                  <option value="당뇨">당뇨</option>
                  <option value="허리통증">상체</option>
                </datalist>
                <!-- <select name="healthCondition" id="healthCondition">
                  <optgroup label="">
                    <option value="songpa-gu">송파구</option>
                    <option value="gangnam-gu">강남구</option>
                    <option value="seocho-gu">서초구</option>
                    <option value="junggu-gu">중구</option>
                  </optgroup> -->

                </select>
              </li>
              <li><i class="bi bi-check"></i>평균 운동시간
                <input type="text" name="exerciseTime" id="exerciseTime" list="browser2">
                <datalist id="browser2">
                  <option value="30분미만">30분 미만</option>
                  <option value="30분이상~1시간미만">30분 이상 ~ 1시간 미만</option>
                  <option value="1시간이상~2시간미만">1시간 이상 ~ 2시간 미만</option>
                  <option value="2시간이상">2시간 이상</option>
                </datalist>
              </li>
              <li><button name="score" >저장</button></li>
            </ul>
          </form>
          </div>
        </div>
      </div>
      <!-- <button class="mea">측정하기</button> -->
    </section>
  
    
  <!-- ======= Footer ======= -->
 
  <!-- Vendor JS Files -->
  <script src="/javascripts/aos.js"></script>
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
  <script src="/javascripts/glightbox.min.js"></script>
  <script src="/javascripts/isotope.pkgd.min.js"></script>
  <script src="/javascripts/swiper-bundle.min.js"></script>
  <script src="/javascripts/validate.js"></script>
  

  <!-- Template Main JS File -->
  <script src="/javascripts\main.js"></script>

</body>

</html>
